name: Push-to-EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          lfs: 'true'
      - name: Build the Docker image
        run: docker build -t shanmukh147/devopstask -f Dockerfile .
      - name: Generate Deployment Package
        run: zip -r deploy.zip *

      - name: Checkout the files
        uses: actions/checkout@v2

      - name: Deploy to Server 1
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
          REMOTE_HOST: 'ec2-13-115-56-39.ap-northeast-1.compute.amazonaws.com'
          REMOTE_USER: 'ubuntu'
          TARGET: '/'
